<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SaucedemoModulesCrossPlantFormTestSuite">
	<test thread-count="1" name="ChromeBrowserTest">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="testcases.LoginTests" />
			<class name="testcases.Checkout" />
			<class name="testcases.AddToCart" />
			<class name="testcases.SortTest" />
			<class name="base.TestBase" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="1" name="FireFoxBrowserTest">
		<parameter name="browser" value="FireFox" />
		<classes>
			<class name="testcases.LoginTests" />
			<class name="testcases.Checkout" />
			<class name="testcases.AddToCart" />
			<class name="testcases.SortTest" />
			<class name="base.TestBase" />
		</classes>
	</test> <!-- Test -->
</suite> <!--
Suite -->