<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoLoginTestSuite">
  <test thread-count="5" name="SauceDemoLoginTest">
    <classes>
      <class name="base.TestBase"/>
      <class name="testcases.SauceDemoLoginTests"/>
    </classes>
  </test> <!-- SauceDemoLoginTest -->
</suite> <!-- SauceDemoLoginTestSuite -->
